{
  "openai": {
    "token": "",
    "botfile": "",
    "maxanswer": 0,
    "model": "curie"
  },
  "bot": {
    "token": "",
    "prefix": "",
    "webhooks": {
      "messages": {
        "id": "",
        "secret": ""
      },
      "tokens": {
        "id": "",
        "secret": ""
      }
    }
  },
  "dailytokens": 0,
  "tokenprice": 0,
  "minpurchase": 0,
  "brandcolour": "fff",
  "stripe": {
    "live": {
      "secretkey": "",
      "publickey": ""
    },
    "test": {
      "secretkey": "",
      "publickey": ""
    }
  }
}
